$_blueWood: #2c3e50;

/// Colors

$c-base: $_blueWood;
$c-white: #fff;
$c-black: #000;
$c-grey-light: #f5f1ee;

/// Typography

$font-family: Avenir, Helvetica, Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$type-map: (
  16: (
    size: 16px,
    leading: 24px,
  ),
);
